<!DOCTYPE html>
<html>
<head>
	<title>Art Gallery | Home</title>
	 <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/nav-bar.css')}}"> 
	 <!-- <link rel="stylesheet" type="text/css" href="../static/styles/nav-bar.css"> -->
	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<ul>
  <li><a href="/Arts"><abbr title="Home"><span class="fas fa-home"></abbr></span></a></li>
  <li><a href="/customers"><abbr title="Customer"><span class="fas fa-user"></abbr></span></a></li>
  <li><a href="/artworks"><abbr title="Artworks"><span class="fas fa-paint-brush"></abbr></span></a></li>
  <li><a href="/artist"><abbr title="Artists"><span class="fas fa-male"></abbr></span></a></li>

</ul>
<p style="position: absolute; bottom:2px; right:2px;">&copy; Team-2: Neha, Rahul, Jayanth, Hemanth <p>
<p style="position: absolute; bottom:2px; Left:2px;">Reach us at-team2.artworks@gmail.com<p>
</body>
</html>